{% extends "base.html" %}

{% block title %}Task List{% endblock %}

{% block content %}
    <style>
    div {
        font-family: myFirstFont;
        src: url(sansation_light.woff);
        font-weight: bold;
        text-align: left;
        margin-left: 30px;
    }
    </style>

    <div>
    <h1>Your To-Do List</h1>
    {% if tasks %}
        <ul>
            {% for task in tasks %}
                <li>{{ task }}</li>
            {% endfor %}
        </ul>
    {% else %}
        <p>You have no tasks!</p>
    {% endif %}
    </div>
{% endblock %}
